body { 
    background-image: url(cosmic\ panda.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 75px;
}

.smol {
    text-align: center;
    font-size: 13px;
    color: aliceblue;
    font-family: "Comic Sans MS";
}

.twiter {
    font-size: 15px; background-color: lightblue; color: aliceblue; border-radius: 10px;
    
}

.youtube {
    background-color: red;
    color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
}

.secret {
    background-color: #f0f8ff;
    color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
}

h2 {
    color: white;
}